// Colors

$background: #FEFBF7;

$text: #3d596d;
$text-light: lighten( $text, 20% );

$header: #3d596d;
$header-text: #fff;
$borders: rgba( $text, 0.1 );

$links: #0087be;
$links-hover: lighten( $links, 10% );

// Imports

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,600,600italic,300italic,700,700italic);
@import 'fa/font-awesome';

// Mixins

@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin flex($values) {
  -webkit-box-flex: $values;
  -moz-box-flex:  $values;
  -webkit-flex:  $values;
  -ms-flex:  $values;
  flex:  $values;
}

@mixin order($val) {
  -webkit-box-ordinal-group: $val;  
  -moz-box-ordinal-group: $val;     
  -ms-flex-order: $val;
  -webkit-order: $val;  
  order: $val;
}

@mixin text-sm {
	font-size: 0.75em;
}

@mixin text-md {
	font-size: 1em;
}

@mixin text-lg {
	font-size: 3.5em;
}

// Styles

body {
	font-family: 'Open Sans', sans-serif;
	padding: 0;
	margin: 0;
	@include text-md;
	color: $text;
	background: $background;
}

h1, h2, h3 {
	font-weight: 300;
}

div {
	box-sizing: border-box;
}

a {
	color: $links;
	text-decoration: none;
	transition: all 0.1s ease-in-out;
	&:hover {
		color: $links-hover;
	}
}

.header {
	background: url('../images/background-shaded.jpg') center center no-repeat;
	background-size: cover;
	padding: 3em 2em;
	width: 100%;

	h1 {
		text-align: center;
		color: $header-text;
		font-size: 2.2em;
		font-weight: 300;
		margin: 0;
	}
}

.profile {
	margin: 2em auto;
	padding: 2em;
	max-width: 900px;

	.name-avatar {
		@include flexbox();
		justify-content: center;
		align-items: center;
		text-align: center;
		margin: 0 auto;
		width: auto;
	}

	h2.name {
		text-align: left;
	}

	.avatar {
		width: 10em;
		height: auto;
		border-radius: 100%;
		float: left;
		margin-right: 1em;
	}

	.stats {
		clear: both;
		border-top: 1px solid $borders;
		margin-top: 4em;
		padding-top: 2em;
		@include flexbox();
		flex-wrap: wrap;

		> div {
			@include flex(1);

			@media screen and (max-width: 580px) {
				flex-basis: 100%;
			}
		} 

		.stat-label {
			display: block;
			text-align: center;
			@include text-sm();
			color: $text-light;
			margin-bottom: 1.25em;
		}

		.number-of-reads .stat-value {
			line-height: 1em;
			@include text-lg;
			font-weight: 300;
		}

		.top-genres {
			text-align: center;

			.stat-value {
				font-weight: 300;
				color: #28A451;
			}

			.stat-value:before {
				@include fa-icon();
				content: "\f1ea";
				font-size: 3.5em;
				display: block;
			}
		}

		.stat-value {
			display: block;
			text-align: center;

			@media screen and (max-width: 580px) {
				margin-bottom: 1em;
			}
		}

	}

}

.section-title {
	font-weight: 300px;
	text-align: center;
}

.feed {
	margin: 2em auto;
	max-width: 900px;

	.feed-item {
		padding: 2em;
		margin: 0 2em;
		border-bottom: 1px solid $borders;
		overflow: hidden;

		&:nth-of-type(1) {
			border-top: 1px solid $borders;
		}

		.title {
			margin-top: 0;
			margin-bottom: 0.25em;
		}

		.source {
			display: block;
			margin-bottom: 1em;
		}

		.time-percent {
			color: $text-light;
			@include text-sm;

			span {
				margin-right: 1em;

				&:before {
					margin-right: 0.5em;
				}
			}
		}

		.share {
			float: right;
			color: $links;

			span {
				display: inline-block;
				padding-left: 0.5em;
			}
		}
	}
}